message = "🔖 Release %s"
# @zazen/eslint-config has a peerDep of `typescript` due to the TS-related
# plugins it includes, but they're not used here so we don't need it.
strict-peer-dependencies = false
