name: CI

on: [push]

jobs:
  build:
    name: Lint and test
    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout
      - name: Checkout repo
        uses: actions/checkout@v6

      # https://github.com/pnpm/action-setup
      - uses: pnpm/action-setup@v4
        with:
          version: 6

      # https://github.com/actions/setup-node
      - name: Setup Node.js 18.x
        uses: actions/setup-node@v6
        with:
          node-version: 18.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm test
