name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          # This makes Actions fetch all Git history so that Changesets can
          # generate changelogs with the correct commits.
          fetch-depth: 0

      # https://github.com/pnpm/action-setup
      - uses: pnpm/action-setup@v4
        with:
          version: latest

      # https://github.com/actions/setup-node
      - name: Setup Node.js 22.x
        uses: actions/setup-node@v5
        with:
          node-version: 22.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      # https://github.com/changesets/action
      - name: Create release PR or publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          title: 'Publish release'
          commit: 'Publish release'
          # This expects you to have a script called release which does a build
          # for your packages and calls changeset publish
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
